<h1> Add a new need </h1>
<%= form_for @help do |f| %>

<p> 
   <%= f.label :Gender %><br />
   <%= f.text_field :Gender %><br />
</p>
<p>
   <%= f.label :Age %><br />
   <%= f.text_field :Age %><br />
</p>
<p>
   <%= f.label :health %><br />
   <%= f.text_field :health %><br />
</p>

<p>
    <%= f.submit "Add a new need" %>
</p>
<% end %>